[mcu EBBusb]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_500031000650505539323520-if00
restart_method: command

[adxl345 ebb36]
cs_pin: EBBusb:PB12
spi_software_sclk_pin: EBBusb:PB10
spi_software_mosi_pin: EBBusb:PB11
spi_software_miso_pin: EBBusb:PB2
axes_map: x, z, -y

[resonance_tester]
probe_points: 125, 125, 20
accel_chip: adxl345 ebb36

#####################################################################
#   Extruder (RX Toolhead V5 / Bambu A1 gear hotend)
#####################################################################

[extruder]
step_pin: EBBusb:PD0
dir_pin: EBBusb:PD1
enable_pin: !EBBusb:PD2
microsteps: 16
rotation_distance: 4.7830131121165
pullup_resistor: 4700        #⚠️ For ebb361.2 use 4700 and for EBB35 Gen2 use 2200
nozzle_diameter: 0.600
filament_diameter: 1.750
pressure_advance: 0.035
heater_pin: EBBusb:PB13
max_extrude_only_distance: 201
sensor_type: EPCOS 100K B57560G104F
pullup_resistor: 4700
sensor_pin: EBBusb:PA3      # TH0 포트 핀 번호
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: EBBusb:PA15
sense_resistor: 0.110
run_current: 0.65
stealthchop_threshold: 0

#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Part Cooling Fan (FAN1)
pin: EBBusb:PA0
kick_start_time: 0.5

[heater_fan hotend_fan]
##  Hotend Fan (FAN2)
pin: EBBusb:PA1
heater: extruder
heater_temp: 50.0
