[include printer_homing.cfg]
[include plr.cfg]
[include mcu_flasher.cfg]
[include chopper_tune.cfg]
[include klippain-shaketune.cfg]
[include mainsail.cfg]
[include printer_toolhead_usb.cfg]
# [include printer_bd_pressure_usb.cfg]  # disabled 2026-06-24: BD Pressure not working; Cartographer-only Z/probe
[include printer_bdwidth.cfg]
[include printer_cartographer.cfg]
[include printer_mainboard.cfg]
[include printer_bme280_toolhead.cfg]
# [include printer_filament_sensors.cfg]  # disabled: filament/runout sensors disabled 2026-06-16
[include printer_filament_buffer.cfg]
[include lll_plus.cfg]
[include printer_toolhead_rgb.cfg]
[include macros.cfg]
[include moonraker_obico_macros.cfg]
[input_shaper]
[respond]

[force_move]
enable_force_move: True

[mcu]
serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usbv2-0:1.2.4:1.0-port0 
baud: 250000
restart_method: command

[printer]
max_velocity: 650
max_accel: 8500
minimum_cruise_ratio: 0.5
kinematics: corexy
max_z_velocity: 25
max_z_accel: 500
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

[exclude_object]

[gcode_arcs]
resolution: 0.3

[save_variables]
filename: ~/printer_data/config/variables.cfg

#####################################################################
#   Homing & Gantry Leveling (250mm Build)
#####################################################################

[bed_mesh]
speed: 150
horizontal_move_z: 3
# Cartographer probe center coordinates; re-check after measuring final x_offset/y_offset.
mesh_min: 15, 35
mesh_max: 235, 220
zero_reference_position: 120, 120
probe_count: 30, 30
adaptive_margin: 10
mesh_pps: 0,0
move_check_distance: 3.0



[quad_gantry_level]
# 노즐 위치 좌표를 의미함. 오프셋 +25 염두.
gantry_corners:
   -65,-10
   305, 320
points:
    25, 5
    25, 235
    215, 235
    215, 5
speed: 150
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.030
max_adjust: 10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.616
#*# pid_ki = 2.385
#*# pid_kd = 58.449
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.598
#*# pid_ki = 1.974
#*# pid_kd = 363.795
#*# pid_version = 1
#*# pid_target = 110.00
#*# pid_tolerance = 0.0200
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 78.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 51.4
#*#
#*# [telemetry]
#*# enabled = False
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.163278, 0.203994, 0.172839, 0.189266, 0.166673
#*# 	0.179754, 0.227781, 0.136041, 0.161002, 0.167916
#*# 	0.140778, 0.158016, 0.183058, 0.166355, 0.153321
#*# 	0.157566, 0.166666, 0.162346, 0.166113, 0.134976
#*# 	0.175110, 0.172659, 0.170651, 0.170651, 0.109112
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = direct
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 235.0
#*# min_y = 25.0
#*# max_y = 210.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.567592013773451,2.0673118766641285,0.8122600637485453,0.24915259873906317,0.5365806250751147,0.8680832458069652,-0.5590922482853764,-1.0541614269821526,0.4409328022335666,0.5712196731024455
#*# domain = 3.302189483656857e-07,3.3583371798980336e-07
#*# z_offset = 0
#*# reference_temperature = 31.87
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 605
#*# speed = 2.0
#*# z_offset = -0.52
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer]
#*# z_backlash = 0.01728
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.042244, -0.000137, -0.036307, -0.015188, 0.009387
#*# compensation_start_x = 15.0
#*# compensation_end_x = 235.0
#*#
#*# [tmc5160 stepper_x]
#*# run_current = 1.10
#*# driver_tbl = 3
#*# driver_toff = 5
#*# driver_hstrt = 1
#*# driver_hend = 8
#*# driver_tpfd = 8
#*#
#*# [tmc5160 stepper_y]
#*# run_current = 1.10
#*# driver_tbl = 3
#*# driver_toff = 5
#*# driver_hstrt = 1
#*# driver_hend = 8
#*# driver_tpfd = 8
