#####################################################################
#   X/Y Stepper Settings (250mm Build)
#####################################################################

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ^!EBBusb:PB7
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 150
homing_retract_dist: 50
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PE3
spi_speed: 1000000 
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
run_current: 1.1
driver_TBL: 2
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 2
driver_TPFD: 4
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_y]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 32
rotation_distance: 40
endstop_pin: ^PF4
full_steps_per_rotation: 200
position_min: 1
position_endstop: 254
position_max: 254
homing_speed: 150
homing_retract_dist: 50
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PC13
spi_speed: 1000000 
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
run_current: 1.1
driver_TBL: 2
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 2
driver_TPFD: 4
sense_resistor: 0.075
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings (250mm Build)
#####################################################################

## Z0 Stepper - Front Left on Motor3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 10:1
microsteps: 32
endstop_pin: cartographer_probe:z_virtual_endstop
position_endstop: 0
position_max: 240
position_min: -5
homing_speed: 10
second_homing_speed: 5
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 10:1
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 10:1
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 10:1
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: true
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA0
sensor_pin: PB1
sensor_type: Generic 3950
max_power: 0.9
min_temp: 0
max_temp: 150

#####################################################################
#   Chamber Heater (HE2 Connector, PA3 Pin)
#####################################################################

[heater_generic chamber_heater]
heater_pin: PA3
sensor_type: ATC Semitec 104GT-2   # 기존 설정하신 센서 타입 유지
sensor_pin: PB0                    # 기존 설정하신 센서 핀 유지
control: watermark                 # 챔버 히터는 보통 정밀한 PID보다 watermark(On/Off) 방식이 안전합니다
max_delta: 2.0
max_power: 0.7
min_temp: 0
max_temp: 100                      # 챔버 허용 최대 온도 (보통 60~70도 권장)

[verify_heater chamber_heater]
max_error: 120
check_gain_time: 12000
hysteresis: 500
heating_gain: 2

#####################################################################
# Fan Control
#####################################################################

[controller_fan electronic_bay_fan_1]
pin: PA6
# hardware_pwm: True를 사용하려면 해당 핀(PA6)이 하드웨어 PWM을 지원해야 합니다.
# 지원하지 않는 경우 False로 두고 cycle_time을 아주 낮게(고주파) 설정합니다.
hardware_pwm: True
cycle_time: 0.005
max_power: 1.0
kick_start_time: 0.5
fan_speed: 0.4               # 4핀 팬은 낮은 속도에서도 안정적이므로 0.4 정도면 충분합니다.
idle_timeout: 60
# 부하 감지 설정
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3
# 타코미터(회전수) 설정
tachometer_pin: ^PC2
tachometer_ppr: 2            # 대부분의 4핀 팬은 1회전당 2펄스
tachometer_poll_interval: 0.001

[fan_generic constant_fan]
pin: PF8
max_power: 1.0
# 2핀 팬은 킥스타트가 필수입니다. 낮은 속도에서 팬이 멈춰있는 것을 방지합니다.
kick_start_time: 0.5
# 2핀 팬에 최적화된 저주파 PWM 설정 (100Hz)
# 고주파 소음이 들린다면 0.005 (200Hz) 정도로 조절해보세요.
cycle_time: 0.005

[delayed_gcode start_fan_at_boot]
initial_duration: 1
gcode:
    SET_FAN_SPEED FAN=constant_fan SPEED=0.7
    
#####################################################################
#   Heater Fan (Under the bed)
#####################################################################

[heater_fan bedfan]
pin: PF7
kick_start_time: 0.5
heater: heater_bed
heater_temp: 20.0

#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
# Chamber Lighting - HE3 Connector
pin: PA1
pwm: true
shutdown_value: 0   # 비상 정지(M112) 시 꺼짐
value: 15          # Klipper 시작 시 초기 상태 (0: 꺼짐, 1: 켜짐, 0.5: 50%)
cycle_time: 0.001   
scale: 100          # 0~100 범위로 제어하기 위함 (Mainsail 슬라이더 편의성)
